h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.selected {
    background-color: var(--light-blue);
}

.mat-mdc-row {
    transition: 0.3s;
}

.mat-mdc-row:hover {
    background-color: var(--light-blue);
    columns: var(--dark-blue);
    cursor: pointer;
}