/* You can add global styles to this file, and also import other style files */
:root {
    --light-blue: #7bc8e2;
    --dark-blue: #004b6b;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: sandybrown;
}

